---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '../styles/global.css';

const { pageTitle } = Astro.props;
---

<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header	/>

		<h1>Astro</h1>
		这是一个用于测试的，基于Astro框架搭建的站点。

		使用Github Pages做自动发布的流程参见Astro官方文档“Deploy your Astro Site to GitHub Pages”部分。

		目前需要配置astro.config.mjs，正在测试。正在测试。

		<p>连接测试文本1</p>
		<ul>
			<li><a href="/AstroNamie/posts/post-1">文章1</a></li>
		</ul>
        <slot />
		<Footer />
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>
